body{
  font-family: Calibri, Arial;
  text-align:center;
  color: black;
  background-color: black;
  margin:auto;
  height: 100%;
}
a {
  color: black;
  font-weight:bold;
}
#content a{
  color:black;
  font-weight:bold;
}
#content{
  background-color: white;
  color: black;
  width: 90%;
  height: 90%;
  margin:auto;
}
body{
  background-image: url("output_poVjJo.gif");
  -webkit-animation:name 10s 1;
  
}
@-webkit-keyframes name {
  background-image: url("output_sKTUBE.gif");
}
