body{
  font-family: Calibri, Arial;
  text-align:center;
  color: white;
  background-color: blue;
  margin:auto;
  height: 100%;
}
a {
  color: white;
}
#content a{
  color:orange;
  font-weight:bold;
}
#content{
  background-color: black;
  color: black;
  width: 90%;
  height: 90%;
  margin:auto;
}
